.item {
 text-align: center;
 img {
  width: 90px;
  }
}

.newsletter {
  text-align: center;
  h2 {
  margin-top: 200px;
  }
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-category {
  font-size: 20px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
